* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

ul, li {
	list-style: none;
}

body, html {
	width: 100%;
	overflow: hidden;
}

body {
	font-size: 14px;
	background: #f7f7f7;
	background-size: cover;
	background-image: url(../asset/5.jpg);
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(187, 187, 187, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
	width: 0;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #c7f4ff;
	transition: background-color .2s;
}

.scroll::-webkit-scrollbar-thumb:hover {
	background-color: #4fddff;
}

input {
	outline: 0;
}

input::-webkit-input-placeholder {
	color: #d4d4d4;
	font-size: 14px;
}

button {
	outline: 0;
	border: 0;
	padding: 0;
}

iframe {
	border: 0;
	display: flex;
	flex: 1;
}

.toolbar {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	padding: 2px 14px;
	box-sizing: border-box;
	transition: all .2s;
}

.toolbar:hover {
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,.3);
}

.logo {
	width: 60px;
}

.input_w {
	position: relative;
	flex: 1;
}

.search_icon {
	position: absolute;
	top: 50%;
	left: 13px;
	margin-top: -11px;
	width: 22px;
	height: 22px;
	fill: rgba(0, 0, 0, .25);
}

.search_in {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 55px 12px 48px;
	font-size: 16px;
	border: 0;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	transition: all .2s;
}

.engine {
	width: 68px;
	border: 1px solid #e7e7e7;
	height: 30px;
	margin: 8px 8px 8px 0;
	outline: 0;
	color: #333;
}

.engine:focus {
	border: 1px solid #e7e7e7;
}

.search_btns {
	display: flex;
	padding-left: 14px;
}

.search_btns button {
	color: #333;
	cursor: pointer;
	min-width: 38px;
	margin: 0 2px;
	border-bottom: 1px transparent solid;
	transition: all .1s;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: 22px;
	opacity: .7;
}
.search_btns button[prop="google"]{
	background-size: 18px;
	background-image: url(../asset/google.png);
}
.search_btns button[prop="baidu"]{
	background-image: url(../asset/baidu.png);
}
.search_btns button[prop="bing"]{
	background-image: url(../asset/bing.png);
}

.search_btns button:hover {
	opacity: 1;
	background-size: 25px;
}

.search_list {
	transform: scaleY(0);
	transform-origin: center 0;
	overflow: hidden;
	position: absolute;
	left: 89px;
	top: 47px;
	right: 202px;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 6px 19px -2px #848484;
	/* transition: all .15s cubic-bezier(.17, .67, .83, .67); */
}

.search_list li {
	position: relative;
}

.search_list li:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .4;
	width: 14px;
	height: 14px;
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.search_list li[data-type="google"]:before {
	background-image: url(../asset/google.png);
}

.search_list li[data-type="baidu"]:before {
	background-image: url(../asset/baidu.png);
}
.search_list li[data-type="bing"]:before {
	background-image: url(../asset/bing.png);
}
.search_list li[data-type="duck"]:before {
	background-image: url(../asset/duck.png);
}

.search_list.show {
	transform: scaleY(1);
}

.search_list a {
	display: block;
	height: 34px;
	color: #000000;
	padding: 0 20px 0 34px;
	line-height: 34px;
	border-bottom: 1px solid #f5f5f5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search_list li:hover, .search_list li.active {
	background-color: #f1f1f1;
}

.search_list li:hover:before, .search_list li.active:before {
	opacity: 1;
}

.wrapper {
	display: flex;
	margin: 46px 44px 20px;
	flex-wrap: nowrap;
	justify-content: center;
	height: calc(100vh - 68px);
	overflow: hidden;
	transition: transform .2s;
}

.step1 {
	transform: translateX(200px);
}

.step2 {
	transform: translateX(600px);
}

.row {
	flex: 1;
	padding: 6px;
	overflow-y: auto;
	margin: 0 14px;
}

.add_btn {
	line-height: 38px;
	text-align: center;
	color: #999;
	transition: all .2s;
}

.add_btn span:before {
	display: inline-block;
	content: "";
	width: 19px;
	height: 19px;
	background: transparent url(../asset/add.png) center center no-repeat;
	background-size: 88%;
	vertical-align: text-bottom;
}

.add_btn:hover {
	cursor: pointer;
	background-color: #fff;
}

.website_list {
}

.website_list li {
	position: relative;
	background-color: #fff;
	transition: all .2s;
}

.delete {
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	background: transparent url(../asset/add.png) 9px 1px no-repeat;
	background-size: 60%;
	transform: rotate(45deg);
	cursor: pointer;
	transition: all .2s .15s;
}
.modal .delete{
	background-image: url(../asset/add.png) !important;
}
.edit {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	background: transparent url(../asset/edit.png) right center no-repeat;
	background-size: 50%;
	cursor: pointer;
	transition: all .2s .15s;
}

.website_list .delete {
	right: 0;
}

.website_list .edit {
	right: 0;
}

.website_list a {
	display: flex;
	align-items: center;
	padding: 6px;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	transition: all .2s;
}

.drag a{
	cursor:-webkit-grabbing
}

.website_list a:hover {
	background: #f9f9f9;
	box-shadow: 0 2px 4px 0px #c5c5c5;
	transform: translateY(-1px);
}

.website_list li:hover .delete, .website_list li:hover .edit {
	height: 30px;
	width: 30px;
}

.website_list .icon {
	display: block;
	width: 100px;
	height: 76px;
	position: relative;
}

.website_list .icon img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}

.website_list .name {
	flex: 1;
	word-break: break-all;
	padding: 0 5px;
}

.frame {
}

.frame_wrap {
	display: flex;
	flex-wrap: wrap;
}

.frame .add_btn {
	margin: 0 14px;
}

.cell {
	position: relative;
	flex: 1;
	background-color: #fff;
	min-width: 280px;
	min-height: 520px;
	max-height: 620px;
	margin: 0 14px 20px;
	transition: all .2s;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	padding: 2px 1px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0,0.1);

}

.cell .delete {
	right: 0;
	transform: rotate(0);
	background-color: #fff;
	background-image: url(../asset/close.png);
	background-position: center center;
	border-bottom-left-radius: 18px;
}

.cell:hover {
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0,0.3);
	transform: translateY(-1px);
}

.cell:hover .delete {
	height: 30px;
	width: 30px;
	box-shadow: -1px 2px 4px 0px #bbb;
}

.cell iframe {
	height: 100%;
	width: 100%;
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	max-width: 560px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0px 1px 7px 0px #c3c3c3;
	border-radius: 2px;
	animation: moveIn .2s ease-in-out 1 both;
}

.move-out {
	animation: moveOut .1s ease-in-out 1 both;
}

.modal .inner {
	height: 100%;
}

.modal .delete {
	right: 0;
	width: 30px;
	height: 30px;
}

.modal .title {
	line-height: 34px;
	padding: 0 8px;
	border-bottom: 1px solid #eee;
}

.modal .content {
	padding: 8px;
	min-height: 90px;
}

.modal .footer {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #eee;
	height: 34px;
}

.modal .footer_place {
	height: 35px;
}

.modal .footer .btn {
	flex: 1;
	cursor: pointer;
	background-color: #fff;
}

.modal .footer .btn:hover {
	background-color: #f9f9f9;
}

.input_wrap {
	display: flex;
	padding: 4px;
}

.frame_input_wrap {
	padding-top: 25px;
}

.input_wrap input {
	box-sizing: border-box;
	flex: 1;
	line-height: 34px;
	border: 1px solid #e7e7e7;
	padding: 0 8px;
	font-size: 16px;
	transition: all .2s;
}

.input_wrap input[readOnly] {
	color: #999;
	cursor: not-allowed;
}

.input_wrap input:focus {
	border-color: #9febff;
}

@keyframes moveIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -80%);
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

}

@keyframes moveOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	30% {
		opacity: .4;
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -90%);
	}

}

.menu_btn {
	position: fixed;
	left: 14px;
	bottom: 20px;
	width: 30px;
	height: 30px;
	background: transparent url(../asset/menu.png) 0 0 no-repeat;
	cursor: pointer;
	z-index: 150;
	transition: border-color .2s;
}
.menu_btn:hover, .active {
	background-position: 0 -30px;
}

.menu, .menu_content {
	position: fixed;
	left: -250px;
	top: 52px;
	width: 200px;
	background-color: #fff;
	height: calc(100vh - 52px);
	z-index: 100;
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0,0.3);
	transition: all .2s;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.menu_content {
	left: -700px;
	width: 400px;
	z-index: 90;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 8px 0;
}

.menu.active {
	left: 0
}

.menu_content.active {
	left: 200px;
}

.menu .delete {
	width: 32px;
	height: 32px;
	right: 0;
}

.menu_h1 {
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	font-size: 14px;
	padding-left: 8px;
	color: #b3b3b3;
	border-bottom: 1px solid #eee;
	user-select: none;
	cursor: default;
}

.menu_list li {
	position: relative;
	display: block;
	line-height: 40px;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	transition: all .1s;
	box-sizing: border-box;
	padding-left: 8px;
	cursor: pointer;
}

.menu_list li:hover, .menu_list li.active {
	box-shadow: 0 1px 1px 0 #777;
	transform: translateY(-1px);
}

.menu_list li:after {
	position: absolute;
	width: 40px;
	height: 100%;
	right: 0;
	top: 0;
	content: "";
	display: inline-block;
	background: transparent url(../asset/arrow.png) center 7px no-repeat;
	background-size: 50%;
	transition: all .1s;
}

.menu_list li.active:after {
	transform: rotate(-90deg);
}

.data_list li {
	line-height: 38px;
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 8px;
	color: #4e4e4e;
}

.data_list a {
	display: block;
	color: #4e4e4e;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.data_list a:hover {
	text-decoration: underline;
	background-color: #f9f9f9;
}

.app_list {
}

.app_list li {
	display: flex;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	border-bottom: 1px solid #eee;
	transition: all .2s;
	padding: 4px 0;
}

.app_list .img_wrap {
	display: block;
	width: 80px;
	height: 60px;
	position: relative;
}

.app_list .img_wrap img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}

.app_list .name {
	flex: 1;
	word-break: break-all;
	padding: 0 5px;
}

.app_list li:hover {
	background: #f9f9f9;
	border-color: #d0d0d0;
}

.menu_content .empty {
	height: 44px;
	line-height: 44px;
	border: 0;
	text-align: center;
	display: block;
	color: #b3b3b3;
	cursor: default;
}

.menu_content .empty:hover {
	border: 0;
	background-color: #fff;
}
.time_component{
    position: fixed;
    left: 0;
    width: 63px;
    top: 52px;
    text-align: center;
    padding: 6px 0;
    color: #b3b3b3;
    transition: all .1s;
}
.time_icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../asset/time.png) 0 0 no-repeat;
	background-size: 100% 100%;
}


@media screen and (max-width:666px) and (-webkit-min-device-pixel-ratio:2) {
	.wrapper {
		flex-wrap: wrap;
		overflow-y: auto;
	}

	.row {
		width: 100%;
		box-sizing: border-box;
		flex: none;
	}

	.cell {
		margin-left: 0;
		margin-right: 0;
	}

	.search_btns {
		display: none
	}

	.search_list {
		right: 14px;
	}

}

@media screen and (max-width:666px) {
	.wrapper {
		flex-wrap: wrap;
		overflow-y: auto;
	}

	.row {
		width: 100%;
		box-sizing: border-box;
		flex: none;
	}

	.cell {
		margin-left: 0;
		margin-right: 0;
	}
	.search_btns {
		display: none
	}

	.search_list {
		right: 14px;
	}

}
.grey .website_list li{
	background-color: rgba(0,0,0,.1);
}
.grey .website_list a{
	border-bottom: 1px solid rgba(0,0,0,.2);
    color: #fff;
}
.grey .website_list a:hover{
	background: rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
	box-shadow:none;
}
.grey .add_btn:hover{
	background-color: rgba(0,0,0,.3);
	color: #fff;
}
.grey .toolbar{
	background-color: rgba(255,255,255,0);
}
.grey .search_in{
	border-color:rgba(255,255,255,0);
	background-color: rgba(255,255,255,0);
	color: #fff;
}
.grey .search_icon{
	fill:#fff;
}
.grey .engine{
	color: #fff;
	border-color:rgba(255,255,255,0);
	background-color: rgba(255,255,255,0);
}
.grey .engine option{
	color: #000;
}
.grey .delete {
	background-image: url(../asset/add_white.png);
}
.grey .frame_wrap .delete{
	background-color: #323d6a;
}

.grey .edit {
	background-image: url(../asset/edit_white.png);
}
.grey .menu,.grey .menu_content{
	color: #fff;
	background: rgba(0,0,0,.1);
}
.grey .menu_h1{
	color: #cecece;
}
.grey .menu_list li,.grey .app_list li{
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #fff;
}
.grey .data_list a{
	color: #fff;
}
.grey .data_list a:hover,.grey .app_list li:hover{
	background-color: rgba(0,0,0,.2);
}
.style_1 .wrapper{
	min-width: 780px;
	max-width: 74%;
    margin: 46px auto 20px;
}
.style_1 .website_list {
    display: flex;
    flex-wrap: wrap;
}
.style_1 .website_list li {
    overflow: hidden;
    flex-wrap: wrap;
    width: 25%;
}